In [1]:
import pandas as pd
df = pd.read_csv("dinkes-od_17448_jml_penderita_diabetes_melitus_brdsrkn_kabupatenko_v2_data.csv")
df

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,12100,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019
...,...,...,...,...,...,...,...,...
157,158,32,JAWA BARAT,3275,KOTA BEKASI,46481,ORANG,2024
158,159,32,JAWA BARAT,3276,KOTA DEPOK,44061,ORANG,2024
159,160,32,JAWA BARAT,3277,KOTA CIMAHI,10021,ORANG,2024
160,161,32,JAWA BARAT,3278,KOTA TASIKMALAYA,11782,ORANG,2024
161,162,32,JAWA BARAT,3279,KOTA BANJAR,2415,ORANG,2024

In [2]:
print(df.tail(5))

      id  kode_provinsi nama_provinsi  kode_kabupaten_kota  \
157  158             32    JAWA BARAT                 3275
158  159             32    JAWA BARAT                 3276
159  160             32    JAWA BARAT                 3277
160  161             32    JAWA BARAT                 3278
161  162             32    JAWA BARAT                 3279

    nama_kabupaten_kota  jumlah_penderita_dm satuan  tahun
157         KOTA BEKASI                46481  ORANG   2024
158          KOTA DEPOK                44061  ORANG   2024
159         KOTA CIMAHI                10021  ORANG   2024
160    KOTA TASIKMALAYA                11782  ORANG   2024
161         KOTA BANJAR                 2415  ORANG   2024

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   162 non-null    int64
 1   kode_provinsi        162 non-null    int64
 2   nama_provinsi        162 non-null    object
 3   kode_kabupaten_kota  162 non-null    int64
 4   nama_kabupaten_kota  162 non-null    object
 5   jumlah_penderita_dm  162 non-null    int64
 6   satuan               162 non-null    object
 7   tahun                162 non-null    int64
dtypes: int64(5), object(3)
memory usage: 10.3+ KB

In [4]:
df.describe()

,id,kode_provinsi,kode_kabupaten_kota,jumlah_penderita_dm,tahun
count,162.000000,162.0,162.000000,162.000000,162.000000
mean,81.500000,32.0,3231.333333,29699.388889,2021.500000
std,46.909487,0.0,31.298602,31787.221502,1.713121
min,1.000000,32.0,3201.000000,0.000000,2019.000000
25%,41.250000,32.0,3207.000000,12306.000000,2020.000000
50%,81.500000,32.0,3214.000000,19279.000000,2021.500000
75%,121.750000,32.0,3273.000000,39988.750000,2023.000000
max,162.000000,32.0,3279.000000,242169.000000,2024.000000

In [5]:
print(df['tahun'].unique())

[2019 2020 2021 2022 2023 2024]

In [6]:
print(df["nama_kabupaten_kota"].unique())
print(df["nama_kabupaten_kota"].nunique())

['KABUPATEN BOGOR' 'KABUPATEN SUKABUMI' 'KABUPATEN CIANJUR'
 'KABUPATEN BANDUNG' 'KABUPATEN GARUT' 'KABUPATEN TASIKMALAYA'
 'KABUPATEN CIAMIS' 'KABUPATEN KUNINGAN' 'KABUPATEN CIREBON'
 'KABUPATEN MAJALENGKA' 'KABUPATEN SUMEDANG' 'KABUPATEN INDRAMAYU'
 'KABUPATEN SUBANG' 'KABUPATEN PURWAKARTA' 'KABUPATEN KARAWANG'
 'KABUPATEN BEKASI' 'KABUPATEN BANDUNG BARAT' 'KABUPATEN PANGANDARAN'
 'KOTA BOGOR' 'KOTA SUKABUMI' 'KOTA BANDUNG' 'KOTA CIREBON' 'KOTA BEKASI'
 'KOTA DEPOK' 'KOTA CIMAHI' 'KOTA TASIKMALAYA' 'KOTA BANJAR']
27

In [7]:
print(df[["nama_kabupaten_kota", "jumlah_penderita_dm", "tahun"]])

    nama_kabupaten_kota  jumlah_penderita_dm  tahun
0       KABUPATEN BOGOR                57769   2019
1    KABUPATEN SUKABUMI               148447   2019
2     KABUPATEN CIANJUR                12100   2019
3     KABUPATEN BANDUNG                45412   2019
4       KABUPATEN GARUT                    0   2019
..                  ...                  ...    ...
157         KOTA BEKASI                46481   2024
158          KOTA DEPOK                44061   2024
159         KOTA CIMAHI                10021   2024
160    KOTA TASIKMALAYA                11782   2024
161         KOTA BANJAR                 2415   2024

[162 rows x 3 columns]

In [8]:
df_2019 = df[df["tahun"] == 2019]
df_2019

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
2,3,32,JAWA BARAT,3203,KABUPATEN CIANJUR,12100,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019
5,6,32,JAWA BARAT,3206,KABUPATEN TASIKMALAYA,10930,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,31582,ORANG,2019
8,9,32,JAWA BARAT,3209,KABUPATEN CIREBON,21981,ORANG,2019
9,10,32,JAWA BARAT,3210,KABUPATEN MAJALENGKA,12915,ORANG,2019
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,ORANG,2019
11,12,32,JAWA BARAT,3212,KABUPATEN INDRAMAYU,5504,ORANG,2019
12,13,32,JAWA BARAT,3213,KABUPATEN SUBANG,21691,ORANG,2019
13,14,32,JAWA BARAT,3214,KABUPATEN PURWAKARTA,11783,ORANG,2019
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,0,ORANG,2019
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,0,ORANG,2019
18,19,32,JAWA BARAT,3271,KOTA BOGOR,12273,ORANG,2019
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,0,ORANG,2019
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,45430,ORANG,2019
21,22,32,JAWA BARAT,3274,KOTA CIREBON,0,ORANG,2019
22,23,32,JAWA BARAT,3275,KOTA BEKASI,42517,ORANG,2019
23,24,32,JAWA BARAT,3276,KOTA DEPOK,48899,ORANG,2019
24,25,32,JAWA BARAT,3277,KOTA CIMAHI,9571,ORANG,2019
25,26,32,JAWA BARAT,3278,KOTA TASIKMALAYA,0,ORANG,2019
26,27,32,JAWA BARAT,3279,KOTA BANJAR,1946,ORANG,2019

In [2]:
df[df["jumlah_penderita_dm"] > 100000]

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,139392,ORANG,2020
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,242169,ORANG,2020
68,69,32,JAWA BARAT,3215,KABUPATEN KARAWANG,153547,ORANG,2021

In [3]:
df.sort_values(by="jumlah_penderita_dm", ascending=False)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
42,43,32,JAWA BARAT,3216,KABUPATEN BEKASI,242169,ORANG,2020
68,69,32,JAWA BARAT,3215,KABUPATEN KARAWANG,153547,ORANG,2021
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
41,42,32,JAWA BARAT,3215,KABUPATEN KARAWANG,139392,ORANG,2020
...,...,...,...,...,...,...,...,...
19,20,32,JAWA BARAT,3272,KOTA SUKABUMI,0,ORANG,2019
4,5,32,JAWA BARAT,3205,KABUPATEN GARUT,0,ORANG,2019
10,11,32,JAWA BARAT,3211,KABUPATEN SUMEDANG,0,ORANG,2019
16,17,32,JAWA BARAT,3217,KABUPATEN BANDUNG BARAT,0,ORANG,2019
17,18,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,0,ORANG,2019

In [7]:
df.sort_values(
    by=["tahun", "jumlah_penderita_dm"],
    ascending=[True, False]
)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
...,...,...,...,...,...,...,...,...
159,160,32,JAWA BARAT,3277,KOTA CIMAHI,10021,ORANG,2024
156,157,32,JAWA BARAT,3274,KOTA CIREBON,9524,ORANG,2024
152,153,32,JAWA BARAT,3218,KABUPATEN PANGANDARAN,7312,ORANG,2024
154,155,32,JAWA BARAT,3272,KOTA SUKABUMI,5255,ORANG,2024
161,162,32,JAWA BARAT,3279,KOTA BANJAR,2415,ORANG,2024

In [8]:
df[df["tahun"] == 2019] \
  .sort_values(by="jumlah_penderita_dm", ascending=False) \
  .head(10)

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
14,15,32,JAWA BARAT,3215,KABUPATEN KARAWANG,149537,ORANG,2019
1,2,32,JAWA BARAT,3202,KABUPATEN SUKABUMI,148447,ORANG,2019
15,16,32,JAWA BARAT,3216,KABUPATEN BEKASI,89055,ORANG,2019
6,7,32,JAWA BARAT,3207,KABUPATEN CIAMIS,69113,ORANG,2019
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
23,24,32,JAWA BARAT,3276,KOTA DEPOK,48899,ORANG,2019
20,21,32,JAWA BARAT,3273,KOTA BANDUNG,45430,ORANG,2019
3,4,32,JAWA BARAT,3204,KABUPATEN BANDUNG,45412,ORANG,2019
22,23,32,JAWA BARAT,3275,KOTA BEKASI,42517,ORANG,2019
7,8,32,JAWA BARAT,3208,KABUPATEN KUNINGAN,31582,ORANG,2019

In [9]:
df[df["nama_kabupaten_kota"] == "KABUPATEN BOGOR"]

,id,kode_provinsi,nama_provinsi,kode_kabupaten_kota,nama_kabupaten_kota,jumlah_penderita_dm,satuan,tahun
0,1,32,JAWA BARAT,3201,KABUPATEN BOGOR,57769,ORANG,2019
27,28,32,JAWA BARAT,3201,KABUPATEN BOGOR,71462,ORANG,2020
54,55,32,JAWA BARAT,3201,KABUPATEN BOGOR,61139,ORANG,2021
81,82,32,JAWA BARAT,3201,KABUPATEN BOGOR,63978,ORANG,2022
108,109,32,JAWA BARAT,3201,KABUPATEN BOGOR,65620,ORANG,2023
135,136,32,JAWA BARAT,3201,KABUPATEN BOGOR,65751,ORANG,2024

In [11]:
total_per_tahun = df.groupby("tahun")["jumlah_penderita_dm"].sum()
total_per_tahun

tahun
2019     848455
2020    1078857
2021     925675
2022     644704
2023     645390
2024     668220
Name: jumlah_penderita_dm, dtype: int64

In [12]:
rata_per_kabupaten = df.groupby("nama_kabupaten_kota")["jumlah_penderita_dm"].mean()
rata_per_kabupaten

nama_kabupaten_kota
KABUPATEN BANDUNG          51652.666667
KABUPATEN BANDUNG BARAT    14246.333333
KABUPATEN BEKASI           81174.333333
KABUPATEN BOGOR            64286.500000
KABUPATEN CIAMIS           38304.000000
KABUPATEN CIANJUR          14363.166667
KABUPATEN CIREBON          20553.333333
KABUPATEN GARUT            20789.833333
KABUPATEN INDRAMAYU        33056.666667
KABUPATEN KARAWANG         92411.000000
KABUPATEN KUNINGAN         21259.333333
KABUPATEN MAJALENGKA       13028.333333
KABUPATEN PANGANDARAN       7100.500000
KABUPATEN PURWAKARTA       12953.500000
KABUPATEN SUBANG           24120.166667
KABUPATEN SUKABUMI         45277.500000
KABUPATEN SUMEDANG         34894.000000
KABUPATEN TASIKMALAYA      18176.333333
KOTA BANDUNG               43480.166667
KOTA BANJAR                 3610.666667
KOTA BEKASI                45769.000000
KOTA BOGOR                 17322.666667
KOTA CIMAHI                 9817.166667
KOTA CIREBON               13126.166667
KOTA DEPOK                 46105.000000
KOTA SUKABUMI               6139.166667
KOTA TASIKMALAYA            8866.000000
Name: jumlah_penderita_dm, dtype: float64

In [10]:
total_per_kab = df.groupby("nama_kabupaten_kota")["jumlah_penderita_dm"].sum()

kab_tertinggi = total_per_kab.idxmax()
nilai_tertinggi = total_per_kab.max()

kab_terendah = total_per_kab.idxmin()
nilai_terendah = total_per_kab.min()

kab_tertinggi, nilai_tertinggi, kab_terendah, nilai_terendah

('KABUPATEN KARAWANG', np.int64(554466), 'KOTA BANJAR', np.int64(21664))